body {
    background-color: #12161a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #f1c40f;
}
.movie {
    background-color: #2f3640;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    display: inline-block;
    width: 300px;
}
.movie img {
    width: 100%;
    border-radius: 10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #2980b9;
}

select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 10px;
}

